html {
  min-height: 100%;
}
body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: auto repeat(3,27%);
  grid-template-rows: 8% 30% auto 10%;
  grid-template-areas:
    "aside header header header"
    "aside section1 section2 section3"
    "aside main main main"
    "aside footer footer footer";
  margin: 0;
}
body > * {
  padding: 5px;
  margin: 0;
}
header {
  background-color: #91c8ff;
  grid-area: header;
}
main {
  background-color: #7da9d5;
  grid-area: main;
}
aside {
  background-color: #007fff;
  grid-area: aside;
}
footer {
  background-color: #588ec3;
  grid-area: footer;
}
section:nth-of-type(1) {
  background: #b3d8fd;
}
section:nth-of-type(2) {
  background: #5e86af;

}
section:nth-of-type(3) {
  background: #6d9fd2;
}
